.container{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.bloque{
    background-color: rgb(255, 0, 0);
}

.bloqueuno{
    background-color: rgb(0, 0, 255);
}

.bloquedos{
    background-color: rgb(87, 87, 139);
}